# Archieve
Archieve/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# github action result
semicolon_delimited_script
# built pdf (installed to ../assets/files/curriculum_vitae.pdf by build.sh)
owen_ma_cv.pdf
